form(action=url method='POST')
    h1 The Number Quiz
    p Your current score is:  
        span=score
    p Guess the number in the sequence.
        br
        span=question 
    label Your answer:  
        input(type='text' name='answer')
        input(type='submit')


